.nav-header {
  h1 {
    display: inline-block;
  }
}

.topics,
.user-options {
  li {
    display: inline-block;
    vertical-align: bottom;
  }
}

//medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;