<body>

  <section class="container">

    <nav class="navbar">
      <div class="row">
        <!--<div class="navbar-brand">-->
        <h1 class="">Medium</h1>
        <!--</div>-->
        <!--USE THE CLASS LIKE DISPLAY HIDDEN. CAN'T REMEMBER ITS NAME-->
        <div class="pull-right">
          <ul class="nav">
            <li><a>Write a story</a></li>
            <li><a>Sign in/Sign up</a></li>
            <li class="glyphicon glyphicon-search">
              <a></a>
            </li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <ul class="nav">
          <li><a>Home</a></li>
          <li><a>Popular on Medium</a></li>
          <li><a>Staff Picks</a></li>
        </ul>
      </div>
    </nav>

    <hr />
    <!--^To be replaced with a slight bottom box shadow! -->

  </section>

  <section class="container">
    {{me}}
    <div class="row">
      <h2>Popular on Medium</h2>
    </div>
    <div class="row">
      <div>Background image</div>
      <div>
        <h3>Feature article title</h3>
        <p>Article's byline, err, description thing</p>
        <div>
          <div>Author's image</div>
          <h6>Author's name</h6>
          <p>Publish date</p>
        </div>
      </div>
    </div>
  </section>

</body>